<ion-view title="Notificaciónes" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="notificaciNes-button-bar1" class="button-bar"></div>
    <ion-list id="notificaciNes-list2">
      <ion-item class="item-avatar item-icon-right positive" id="notificaciNes-list-item8" ui-sref="notificaciNes2.perfil()">
        <h2positive>Rosmery Barrios
          <p style="white-space:normal;">Cuidado de niños de 11:00 a.m. a 15:00</p>
          <i class="icon ion-android-notifications"></i>
          <ion-option-button class="button-balanced">aceptar</ion-option-button>
          <ion-option-button class="button-assertive">rechazar</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="notificaciNes-list-item12" ui-sref="notificaciNes2.perfil()">
        <h2positive>Javier Mita
          <p style="white-space:normal;">Cuidado de niños de 11:00 a.m. a 15:00</p>
          <i class="icon ion-android-notifications"></i>
          <ion-option-button class="button-balanced">aceptar</ion-option-button>
          <ion-option-button class="button-assertive">rechazar</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="notificaciNes-list-item11" ui-sref="notificaciNes2.perfil()">
        <h2positive>Sergio Antezana
          <p style="white-space:normal;">Cuidado de niños de 11:00 a.m. a 15:00</p>
          <i class="icon ion-android-notifications"></i>
          <ion-option-button class="button-balanced">aceptar</ion-option-button>
          <ion-option-button class="button-assertive">rechazar</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="notificaciNes-list-item10" ui-sref="notificaciNes2.perfil()">
        <h2positive>Lusmila Carpio
          <p style="white-space:normal;">Cuidado de niños de 11:00 a.m. a 15:00</p>
          <i class="icon ion-android-notifications"></i>
          <ion-option-button class="button-balanced">aceptar</ion-option-button>
          <ion-option-button class="button-assertive">rechazar</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>