<ion-view title="Perfil" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="perfil-card21">
      <ion-item class="item-avatar" id="perfil-list-item14">
        <h2>Javier Mita</h2>
        <p>Cuidado de Niños</p>
      </ion-item>
      <div class="item item-body" id="perfil-list-item-container2"></div>
      <ion-item class="item-icon-left assertive" id="perfil-list-item15">
        <i class="icon ion-ios-time"></i>11.00 a.m.</ion-item>
      <ion-item class="item-icon-left assertive" id="perfil-list-item16">
        <i class="icon ion-android-calendar"></i>11 de Septiembre</ion-item>
      <ion-item class="item-icon-left assertive" id="perfil-list-item17">
        <i class="icon ion-map"></i>c. los andes #543</ion-item>
      <ion-item class="item-icon-left assertive" id="perfil-list-item18">
        <i class="icon ion-android-globe"></i>Alto San Pedro</ion-item>
    </div>
    <div id="perfil-button-bar2" class="button-bar">
      <a ui-sref="notificaciNes2.confirmaciN()" id="perfil-button9" class="button button-positive button-block">Aceptar</a>
      <a ui-sref="notificaciNes2.notificaciNes()" id="perfil-button10" class="button button-positive button-block">Rechazar</a>
    </div>
  </ion-content>
</ion-view>